@charset "utf-8";
/****************************************/
/*  Version : 1.0
/*  Author : jsm
/****************************************/
@font-face{font-family:'NotoS'; src:url('./font/NotoSansCJKkr-Regular.woff')}
@font-face{font-family:'notoSB'; src:url('./font/NotoSansCJKkr-Bold.woff')}

html{font-size:10px;-ms-overflow-style: scrollbar;-webkit-tap-highlight-color: transparent;scroll-behavior:smooth}
body{line-height:1.4}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, input
{box-sizing:border-box;line-height:inherit;margin:0;padding:0;border:0;color:#333;font-family:'NotoS','Apple SD Gothic Neo','MalgunGothic', 'AppleGothic', sans-serif;letter-spacing:0;vertical-align:baseline}

fieldset,img{border:0 none}
dl,ul,ol,menu,li{list-style:none}
input,select,textarea,button{vertical-align:middle;-webkit-appearance:none;border:none;border-radius:0;-webkit-tap-highlight-color:transparent;background-color:transparent;box-sizing:border-box;font-family:'NotoS','Apple SD Gothic Neo','MalgunGothic', 'AppleGothic', sans-serif;cursor:pointer}
button{border-collapse:collapse;border-spacing:0;border:0 none;background:transparent}
input::-ms-clear,input::-ms-reveal,select::-ms-expand{display:none}
input:-webkit-autofill,input:-webkit-autofill:hover,input:-webkit-autofill:focus,input:-webkit-autofill:active{transition:background-color 5000s} 
input[type='text'],input[type='password'],input[type='submit'],input[type='search']{-webkit-appearance:button;border-radius:0}
button,input[type='button'],input[type='submit'],input[type='reset'],input[type='file']{-webkit-appearance:button;border-radius:0;cursor:pointer}/* cursor */
input[type='search']::-webkit-search-cancel-button{-webkit-appearance:none}
a{font-size:inherit;font-weight:inherit;color:inherit;line-height:inherit;text-decoration:none}
address,caption,cite,code,dfn,em,var{font-style:normal;font-weight:normal}
h1, h2, h3, h4, h5, h6{font-weight:normal}
::-webkit-input-placeholder{color:#C5C5C5 !important}
:-ms-input-placeholder{color:#C5C5C5 !important}
img{max-width:100%;height:auto;vertical-align:top}
table {border-collapse:collapse;border-spacing:0;table-layout:fixed;width:100%}
caption{border:0 !important;clip:rect(0 0 0 0) !important;height:0 !important;overflow:hidden !important;padding:0 !important;width:0 !important;font-size:0 !important}
textarea{-webkit-backface-visibility:hidden;backface-visibility:hidden;background-color:transparent;word-break:keep-all;word-wrap:break-word} 
i {font-family:inherit;font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;color:inherit}
i:before{display:inline-block}
span,em,p,b,strong{font-size:inherit;line-height:inherit;color:inherit;font-family:inherit;font-weight:normal}
:focus,:active {outline:none;-webkit-tap-highlight-color:transparent}
 a.nodeco:link, a.nodeco:hover, a.nodeco:visited, a.nodeco:active, a.nodeco:focus{text-decoration:none !important}





