@charset "euc-kr";
@import url("/static/css/interlock/cmnsvc/base.css");
@import url("/static/css/interlock/cmnsvc/contents.css?v1");

/****************************************/
/*  Version : 1.0
/*  Author : jsm
/****************************************/
:root{
    --theme:#84C13D;
    --themeBg:#078719;
    --themeDisa:#D1E8B6;
    --themeL:#F9FDF4;
}

/*header*/
.header_c{height:4rem;position:relative;padding:0 4.2rem}
.ico_top_back{display: flex;position:absolute;top:1rem;left:1rem;width:2.2rem;height:2.2rem;background:url(/static/images/interlock/cmnsvc/ico_top_back.png) 50% 50% no-repeat;background-size:2.2rem auto}
.hc_tit{padding:0.8rem 0;text-align:center;font-size:1.6rem;line-height:2.4rem;color:#000}
.ico_top_x{display: flex;position:absolute;top:1rem;right:1rem;width:2.2rem;height:2.2rem;background:url(/static/images/interlock/cmnsvc/ico_top_x.png) 50% 50% no-repeat;background-size:2.2rem auto}
/*header_top*/
.top_loca{display:flex;justify-content: space-between;align-items: flex-start; padding:1.4rem 1.6rem;background-color:#F9F9F9 }
.top_loca_tit{font-size:1.4rem;color:#000}
.top_loca_num{display:flex;align-items: center;} 
.top_loca_num>i{display:flex;justify-content: center;align-items: center; margin-left:0.8rem;border-radius:3rem;font-size:0;line-height:0;width:0.5rem;height:0.5rem;overflow: hidden;background-color:#B3B3B3}
.top_loca_num>i.on{font-size:1rem;line-height:1.4rem;width:2rem;height:2rem;background-color:var(--theme);color:#fff}

/*footer*/
.has_foot_fix{padding-bottom:5rem}
.info_cbox{background:#f9f9f9;border-radius: 1rem;padding: 1.6rem 2rem;}
.foot_fix{position:fixed;bottom:0;left:0;width:100%;z-index:2}
.foot_fix_btnA{display:flex;justify-content: space-between;}
.foot_fix_btnA>.f_btn{font-size:1.7rem;flex:1 50%;display:flex;justify-content: center;align-items: center;height:5rem;line-height:2.5rem}
.foot_fix_btnA.cols1vs2>button:first-child{flex:1 33%}
.foot_fix_btnA.cols1vs2>button:nth-child(2){flex:1 67%}
.foot_fix_btnA.cols1vs2>button:last-child{flex:1 67%}
.btnC1{background-color:#E0E0E0;color:#333} 
.btnC1[disabled]{background-color:#F3F3F3;color:#C5C5C5}
.btnC2{background-color:var(--theme);color:#fff}
.btnC2[disabled]{background-color:var(--themeDisa)}


/*pop1*/
.layPop{position:fixed;z-index:101;height:100%;width:100%;top:0;left:0;display:flex;justify-content:center;align-items:center;}
.layPop:after{content:'';position: fixed;left: 0;top: 0; background-color: #000;z-index: 1;width: 100%;height: 100%;opacity: 0.4}
.layPopCon{position:relative;z-index:2;background:#fff;width:calc(100% - 4rem);max-width:72.8rem;border-radius:1.6rem;}
.layPopIn{margin:3.2rem 0 2.8rem;padding:0 2rem}
.layPopBtn{display:flex;justify-content:center;align-items:center;border-radius:0 0 1.6rem 1.6rem;overflow:hidden}
.layPopBtn>button{flex:1 50%;height:5rem;font-size:1.7rem}

/*pop2*/
.layPop2{display:none;position:fixed;height:100%;width:100%;top:0;left:0;z-index:100}
.layPop2:after{content:'';position: fixed;left:0;top:0; background-color: #000;z-index: 1;width: 100%;height: 100%;opacity: 0}
.layPop2Con{position:fixed;z-index:2;bottom:-100%;background:#fff;width:100%;border-radius:2rem 2rem 0 0}
.layPop2Title{text-align:center;margin-left:1.6rem;margin-right:1.6rem;font-size:1.7rem;line-height:2.5rem;border-bottom:0.1rem solid #e0e0e0; padding-bottom:2rem}
.layPop2In{padding:2.8rem 1.6rem 2rem;max-height: calc(100vh - 17.6rem);overflow: auto;}
.noBtn .layPop2In{padding:0 0 2rem;max-height: calc(100vh - 12.6rem);}
.layPop2Btn{display:flex;justify-content:center;align-items:center}
.layPop2Btn>button{flex:1 50%;height:5rem;font-size:1.7rem}
.layPop2Close{position:absolute;top:2.4rem;right:1.6rem;width:2rem;height:2.5rem;background:url(/static/images/interlock/cmnsvc/ico_pop_x.png) 50% 50% no-repeat;background-size:1.3rem auto}
.layPop2.opened{display:flex;justify-content:center;align-items:center;}
.layPop2.opened:after{animation:0.3s forwards ease-in-out opa0_6;}
.layPop2.opened .layPop2Con{animation:0.3s forwards ease-in-out btm0;left:50%;transform:translateX(-50%)}
.layPop2.close:after{animation:0.3s forwards ease-in-out opa0;opacity:0.6} 
.layPop2.close .layPop2Con{animation:0.3s forwards ease-in-out btm_100;bottom:0}

@media all and (min-width : 540px){html{font-size:10px}	}
@keyframes btm0{100% {bottom:0}}
@keyframes btm_100{100% {bottom:-100%;}}
@keyframes opa0{100% {opacity:0}}
@keyframes opa0_6{100% {opacity:0.4}}
@media screen and (-ms-height-contrast:active), (-ms-high-contrast:none){
    .layPop2.opened .layPop2Con{bottom:0}
}

/*pop3 fullpop*/
.layFullPop{display:none;overflow:auto;position:fixed;width:100%;height:100%;top:0;left:0;background-color:#fff;z-index:10}
   
/* loading */
.loading{position: fixed;z-index: 1120;top: 0;left: 0;width: 100%;height: 100%}
.loading_con{display:flex;justify-content: center;flex-direction: column;align-items: center;width: 100%;height: 100%}
.loading_con.dim{background: rgba(0, 0, 0, 0.5)}
.loading_con_in{display:flex;justify-content: center;flex-direction: column;align-items: center;width: 100%;height: 50%;background: #fff}
.loading_con_in:after{content:'';position:absolute;top:0;left:0;width:100%;height:100%;z-index:2;background: rgba(0, 0, 0, 0.5)}
.loading_con_tx1{font-size:1.6rem;margin-top:1rem;color:#444}
.loading_con_tx2{font-size:1.4rem;margin-top:1rem;color:#444}
.ico_loader1 {width: 6rem;height: 6rem;background: url(/static/images/nffact/kakaostock/bx_loader.gif) no-repeat 50% 50%;background-size:6rem auto}
.ico_loader2 {width:6.4rem;height: 6.4rem;background:url(/static/images/bx_loader.gif) no-repeat 50% 50%;background-size:3.2rem auto}


/*account sel list*/
.ul_sel>li{padding:0 2rem;margin-top:0.05rem}
.ul_sel>li>button{display:flex;width:100%;text-align:left;align-items: center; border-bottom:0.1rem solid #f0f0f0;padding:1.4rem 0;font-size:2.1rem;line-height:3rem;}
.ul_sel>li.on{background-color:var(--themeL)  }
.ul_sel>li.on>a{color:#000;font-family:'notoSB'}
.ul_sel_opt{display:flex;flex-wrap: wrap;flex-direction: column;flex:1 calc(100% - 4.2rem)}
.ul_sel_opt1{font-size:1.6rem;line-height:2rem;color:#000;font-family:'notoSB'}
.ul_sel_opt2{font-size:1.4rem;line-height:2rem;color:#767676}

/*ci*/
.ci_qv::before{content:'';margin-right:1rem;display:inline-flex;width:3.2rem;height:3.2rem;background:url(/static/images/interlock/cmnsvc/ci_qv.png) 0 0 no-repeat;background-size: 3.2rem auto;}
.ci_namuh::before{content:'';margin-right:1rem;display:inline-flex;width:3.2rem;height:3.2rem;background:url(/static/images/interlock/cmnsvc/ci_namuh.png) 0 0 no-repeat;background-size: 3.2rem auto;}

/* termsA */
.has_termsA{overflow:hidden}
.has_termsA .container_c{height:100%;display:flex;flex-direction:column;justify-content:flex-start}
.termsA{position:relative;height:calc(100% - 9rem);padding-bottom:5rem}
.termsA iframe{position:absolute;top:0;left:0;width:100%;height:100%}

/*tooltip*/
.tipA{position:relative;display:flex}
.tipBox{display:none;width:100%;margin-left:1.6rem;min-width:32.8rem;padding:1.5rem 2rem;border-radius:0.8rem;position:absolute;top:3.3rem;background-color:var(--themeL);border:0.1rem solid var(--theme)}
.tipTit{font-size:1.4rem;font-family:'notoSB';white-space:nowrap;margin-bottom:1rem}
.tipTx{font-size:1.3rem;min-width:28.8rem;line-height:1.9rem;display:block}
.tipA.active {z-index:3;}
.tipA.active:before{content:'';position:absolute;top:1.8rem;left:0.3rem;width:0;height:0;border:0.8rem solid transparent;border-right-width:0.6rem;border-left-width:0.6rem;border-bottom-color:var(--theme)}
.tipA.active:after{content:'';position:absolute;top:2rem;left:0.3rem;width:0;height:0;border:0.8rem solid transparent;border-right-width:0.6rem;border-left-width:0.6rem;border-bottom-color:var(--themeL)}
.tipA.active .tipBox{display:flex;flex-direction: column;}

/*title*/
.comTit{font-size:1.4rem;display:flex;align-items: center;line-height:2rem}
.comTit.ar{justify-content: flex-end;}


/*btn*/
.btn{display:inline-flex;justify-content: center;align-items: center;padding:0}
.btnGray40{line-height:4rem;font-size:1.4rem;padding:0 1.2rem;border-radius:0.6rem;background-color:#f1f1f1;color:#666}
.btnGray36{line-height:3.6rem;font-size:1.4rem;padding:0 1.2rem;border-radius:0.6rem;background-color:#f1f1f1;color:#666}
.btnGray30{line-height:3rem;font-size:1.2rem;padding:0 1.2rem;border-radius:0.6rem;background-color:#f1f1f1;color:#666}
.btnGray26{line-height:2.6rem;font-size:1.2rem;padding:0 1.2rem;border-radius:0.6rem;background-color:#f1f1f1;color:#666}
.btnGray22{line-height:2.2rem;font-size:1rem;padding:0 0.9rem;border-radius:0.6rem;background-color:#f1f1f1;color:#666}

.btnWh40{line-height:4rem;font-size:1.4rem;padding:0 1.2rem;border:0.1rem solid #e0e0e0;border-radius:0.6rem;background-color:#fff;color:#666}
.btnWh36{line-height:3.6rem;font-size:1.4rem;padding:0 1.2rem;border:0.1rem solid #e0e0e0;border-radius:0.6rem;background-color:#fff;color:#666}
.btnWh30{line-height:3rem;font-size:1.2rem;padding:0 1.2rem;border:0.1rem solid #e0e0e0;border-radius:0.6rem;background-color:#fff;color:#666}
.btnWh26{line-height:2.6rem;font-size:1.2rem;padding:0 1.2rem;border:0.1rem solid #e0e0e0;border-radius:0.6rem;background-color:#fff;color:#666}
.btnWh22{line-height:2.2rem;font-size:1rem;padding:0 0.9rem;border:0.1rem solid #e0e0e0;border-radius:0.6rem;background-color:#fff;color:#666}

.btnWhR40{line-height:4rem;font-size:1.4rem;padding:0 1.6rem;border:0.1rem solid #e0e0e0;border-radius:2rem;background-color:#fff;color:#666}
.btnWhR36{line-height:3.6rem;font-size:1.4rem;padding:0 1.6rem;border:0.1rem solid #e0e0e0;border-radius:1.8rem;background-color:#fff;color:#666}
.btnWhR30{line-height:3rem;font-size:1.2rem;padding:0 1.2rem;border:0.1rem solid #e0e0e0;border-radius:1.5rem;background-color:#fff;color:#666}
.btnWhR26{line-height:2.6rem;font-size:1.2rem;padding:0 1.2rem;border:0.1rem solid #e0e0e0;border-radius:1.3rem;background-color:#fff;color:#666}
.btnWhR22{line-height:2.2rem;font-size:1rem;padding:0 0.9rem;border:0.1rem solid #e0e0e0;border-radius:1.1rem;background-color:#fff;color:#666}

.btnGray40[disabled],
.btnGray36[disabled],
.btnGray30[disabled],
.btnGray26[disabled],
.btnGray22[disabled]{background-color:#F5F5F5;color:#C5C5C5}

.btnWh40[disabled],
.btnWh36[disabled],
.btnWh30[disabled],
.btnWh26[disabled],
.btnWh22[disabled],
.btnWhR40[disabled],
.btnWhR36[disabled],
.btnWhR30[disabled],
.btnWhR26[disabled],
.btnWhR22[disabled]{color:#C5C5C5}

.btnLabelY{border:0.1rem solid var(--themeBg);background-color:var(--themeBg);color:#fff;line-height:2rem;font-size:1rem;padding:0 0.8rem;border-radius:2rem;}
.btnLabelN{border:0.1rem solid #D73838;background-color:#D73838;color:#fff;line-height:2rem;font-size:1rem;padding:0 0.8rem;border-radius:2rem;}
.btnLabelGrn{border:0.1rem solid #3C980060;color:#3C9800;line-height:2rem;font-size:1rem;padding:0 0.8rem;border-radius:2rem;}
.btnLabelWh{border:0.1rem solid #F0F0F0;color:#767676;line-height:2rem;font-size:1rem;padding:0 0.8rem;border-radius:2rem;}
.btnLabelBl{border:0.1rem solid #6FADFF;color:#247EF2;line-height:2rem;font-size:1rem;padding:0 0.8rem;border-radius:2rem;}
.btnLabelPur{border:0.1rem solid #B5B3F2;color:#7762DE;line-height:2rem;font-size:1rem;padding:0 0.8rem;border-radius:2rem;}

/* icon */
.icoLabel1{background-color:#6FADFF;color:#fff;border-radius:0.5rem;display:inline-flex;padding:0 0.5rem;height:1.8rem;line-height:1.8rem;font-size:1rem}
.icoLabel2{border-radius:0.5rem;display:inline-flex;padding:0 0.5rem;height:1.8rem;line-height:1.8rem;font-size:1rem}
.icoLabel3{border-radius:0.5rem;display:inline-flex;padding:0 0.5rem;height:1.8rem;line-height:1.8rem;font-size:1rem}
.icoLabel4{border-radius:0.5rem;display:inline-flex;padding:0 0.5rem;height:1.8rem;line-height:1.8rem;font-size:1rem}
.icoLabel5{border-radius:0.5rem;display:inline-flex;padding:0 0.5rem;height:1.8rem;line-height:1.8rem;font-size:1rem}

/* table */
.tbS{border-top:0.1rem solid #ADADAD}
.tbS th{font-weight:normal}
.tbS thead>tr>th{background-color:#F7F7F7;color:#666;padding:0.8rem 0;border-left:0.1rem solid #E0E0E0;border-bottom:0.1rem solid #E0E0E0;font-size:1rem}
.tbS tbody>tr>th,.tbS tbody>tr>td{color:#666;border-left:0.1rem solid #E0E0E0;border-bottom:0.1rem solid #E0E0E0;font-size:1.2rem;line-height:1.7rem}
.tbS thead>tr>th:first-child, .tbS tbody>tr>th:first-child,.tbS tbody tr>td:first-child{border-left:0}
.tbS tbody>tr>th{background-color:#F7F7F7;padding:0.8rem 1.6rem;}
.tbS tbody>tr>td{padding:0.8rem;}
.tbS.st tbody>tr>th,.tbS.st tbody>tr>td{padding-left:0;padding-right:0}
.tbgc1>td{background-color:#F0FAE5;color:#3C9800 !important}
.tbgc1>td>i,.tbgc1>td>i::before{background-color:#97DD7C}
.tbgc2>td{background-color:#FFF8EC;color:#D58800 !important}
.tbgc2>td>i,.tbgc2>td>i::before{background-color:#FFCE8F}
.tbgc3>td{background-color:#FFF8F9;color:#D73838 !important}
.tbgc3>td>i,.tbgc3>td>i:before{background-color:#FDB2AC}

.tbarS{display:flex;height:0.8rem;border-top-left-radius: 0.8rem;border-bottom-left-radius: 0.8rem;margin-left:1rem}
.tbarC{position:relative;z-index:2;display:flex;height:0.8rem}
.tbarE{position:relative;z-index:2;display:flex;height:0.8rem;border-top-right-radius: 0.8rem;border-bottom-right-radius: 0.8rem;margin-right:1rem}
.tbarC:before,
.tbarE:before{content:'';display:block;width:0.2rem;height:0.8rem;position:absolute;top:0;left:-0.1rem}
.tbarS.tbarE:before{display:none}

/* input text */
.inp_tx{display:inline-flex;position:relative;height:4rem;border-bottom:0.1rem solid #E0E0E0;width:100%}
.inp_tx>input{display:inline-flex;width:100%;color:#000;font-size:1.6rem;height:100%}
.inp_tx>input[disabled]{background-color:#F9F9F9;color:#C5C5C5}
.inp_tx .ico_x{position:absolute;top:1.1rem;right:0.6rem}
.ico_x{display:none;width:1.4rem;height:1.4rem;background:url(/static/images/interlock/cmnsvc/ico_x.png) 0 0 no-repeat;background-size:1.4rem auto}
.inp_tx.hasDelete>input{padding-right:3rem}
.inp_tx .smsnum_r_tx{position:absolute;top:0.9rem;right:0.9rem;line-height:2.2rem;color:var(--theme);font-size:1.8rem}

/* input checkbox */
.inp_ck{display:flex;align-items: center;position:relative}
.inp_ck>input{position:absolute;top:0;left:0;z-index:-1;opacity:0}
.inp_ck>label{position:relative;line-height:2rem;padding-left:2.6rem;display:inline-flex;font-size:1.6rem}
.inp_ck>label:before{content:'';position:absolute;top:0;left:0;width:2rem;height:2rem;background:url('/static/images/interlock/cmnsvc/ico_ck.png') 0 0 no-repeat;background-size:2rem auto}
.inp_ck>input:checked+label:before{background-image:url(/static/images/interlock/cmnsvc/ico_ck_on.png);}
.inp_ck>input:disabled+label:before{background-image:url(/static/images/interlock/cmnsvc/ico_ck_disa.png);}
.inp_ck>input:checked:disabled+label:before{background-image:url(/static/images/interlock/cmnsvc/ico_ck_on_disa.png);}

/* input checkbox line */
.inp_ck_line{display:flex;align-items:center;position:relative}
.inp_ck_line>input{position:absolute;top:0;left:0;z-index:-1;opacity:0}
.inp_ck_line>label{position:relative;line-height:2rem;padding-left:2.6rem;display:inline-flex;font-size:1.3rem}
.inp_ck_line>label:before{content:'';position:absolute;top:0.1rem;left:0;width:2rem;height:2rem;background:url('/static/images/interlock/cmnsvc/ico_ck_line.png') 0 0 no-repeat;background-size:2rem auto}
.inp_ck_line>input:checked+label:before{background-image:url(/static/images/interlock/cmnsvc/ico_ck_line_on.png);}
.inp_ck_line>input:checked:disabled+label:before{opacity:0.5}

/* input checkbox s */
.inp_ck_s{display:flex;align-items: center;position:relative}
.inp_ck_s>input{position:absolute;top:0;left:0;z-index:-1;opacity:0}
.inp_ck_s>label{position:relative;line-height:2rem;padding-left:2.2rem;display:inline-flex;font-size:1.4rem}
.inp_ck_s>label:before{content:'';position:absolute;top:0.25rem;left:0;width:1.6rem;height:1.6rem;background:url('/static/images/interlock/cmnsvc/ico_ck_s.png') 0 0 no-repeat;background-size:1.6rem auto}
.inp_ck_s>input:checked+label:before{background-image:url(/static/images/interlock/cmnsvc/ico_ck_s_on.png);}
.inp_ck_s>input:disabled+label:before{background-image:url(/static/images/interlock/cmnsvc/ico_ck_s_disa.png);}
.inp_ck_s>input:checked:disabled+label:before{background-image:url(/static/images/interlock/cmnsvc/ico_ck_s_on_disa.png);}

/* input radio */
.inp_rd{position:relative;display:inline-flex}
.inp_rd>input{position:absolute;width:0;height:0;padding:0;z-index:-1;opacity:0}
.inp_rd>label{position:relative;line-height:2rem;padding-left:2.2rem;font-size:1.4rem}
.inp_rd>label:before{content:'';position:absolute;width:1.6rem;height:1.6rem;top:0.25rem;left:0;background:url(/static/images/interlock/cmnsvc/ico_rd.png) 0 0 no-repeat;background-size:1.6rem auto}
.inp_rd>input:checked+label:before{background-image:url(/static/images/interlock/cmnsvc/ico_rd_on.png)}
.inp_rd>input:disabled+label:before{background-image:url(/static/images/interlock/cmnsvc/ico_rd_disa.png)}

/* select */
.sel{position:relative;font-size:1.6rem;border-bottom:0.1rem solid #E0E0E0;padding-right:2.8rem;display:inline-flex;height:4rem;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;background:url(/static/images/interlock/cmnsvc/ico_arrow.png) calc(100% - 0.8rem) 50% no-repeat;background-size:1.6rem auto}

/*common*/
.padd{padding-left:1.6rem;padding-right:1.6rem}
.sec_bar{height:0.8rem;background-color:#f5f5f5}
.fixbody{overflow:hidden}
.skipNavi {display:none}
.imgA{width:100%}
.blind{position:absolute !important; z-index:-1 !important; height:0 !important; width:0 !important; padding:0 !important; margin:0 !important; font-size:0 !important; line-height:0 !important;border:0 !important; overflow:hidden !important;}
.posiul{padding:0;font-size:inherit;color:inherit;line-height:inherit;font-family:inherit}
.posiul>li{position:relative;padding-left:2rem;font-size:inherit;word-break: keep-all;color:inherit;line-height:inherit;font-family:inherit}
.posiul.wbk_all>li{word-break: break-all}
.posiul>li>.nm{position:absolute; top:0; left:0;font-size:inherit;color:inherit;line-height:inherit;font-family:inherit}
.posiul>li>.ico_arrow_r{position:absolute;top:0;right:0;height:2rem;width:2rem}
.posiul>li>.fullBtn{position:absolute;top:0;left:0;height:2rem;width:100%}
.list_item_4{display:flex;flex-wrap: wrap;align-items: center}
.list_item_4>*{flex:0 25%;margin-top:1rem}

/*icon*/
.ico_arrow_r{display:inline-flex;width:1.2rem;height:1.2rem;background:url(/static/images/interlock/cmnsvc/ico_arrow_r.png) 50% 50% no-repeat;background-size:1.6rem auto}
.ico_arrow_r.arrow_s{background-size:1.2rem}

/*text-align*/
.ar{text-align:right !important}
.al{text-align:left !important}
.ac{text-align:center !important}

/*position*/
.posiR{position:relative}
.posiA{position:absolute}
.posiS{position:static}
.posi_l{position:absolute;top:0;left:0}
.posi_r{position:absolute;top:0;right:0}

/*font-size*/
.f0{font-size:0 !important}
.f8{font-size:0.88rem}
.f9{font-size:8.9rem}
.f10{font-size:1rem}
.f11{font-size:1.1rem}
.f12{font-size:1.2rem}
.f13{font-size:1.3rem}
.f14{font-size:1.4rem}
.f15{font-size:1.5rem}
.f16{font-size:1.6rem}
.f17{font-size:1.7rem}
.f18{font-size:1.8rem}
.f19{font-size:1.9rem}
.f20{font-size:2.0rem}
.f21{font-size:2.1rem}
.f22{font-size:2.2rem}
.f23{font-size:2.3rem}
.f24{font-size:2.4rem}
.f25{font-size:2.5rem}
.f26{font-size:2.6rem}
.f27{font-size:2.7rem}
.f28{font-size:2.8rem}
.f29{font-size:2.9rem}
.f30{font-size:3.0rem}
.f60{font-size:6.0rem}

/*font-family*/
.fM{font-family:'NotoSM'}
.fB{font-family:'notoSB'}

/*lineheight*/
.lineH8{line-height:0.8rem}
.lineH9{line-height:0.9rem}
.lineH10{line-height:1rem}
.lineH11{line-height:1.1rem}
.lineH12{line-height:1.2rem}
.lineH13{line-height:1.3rem}
.lineH14{line-height:1.4rem}
.lineH15{line-height:1.5rem}
.lineH16{line-height:1.6rem}
.lineH17{line-height:1.7rem}
.lineH18{line-height:1.8rem}
.lineH19{line-height:1.9rem}
.lineH20{line-height:2.0rem}
.lineH21{line-height:2.1rem}
.lineH22{line-height:2.2rem}
.lineH23{line-height:2.3rem}
.lineH24{line-height:2.4rem}
.lineH25{line-height:2.5rem}
.lineH26{line-height:2.6rem}
.lineH27{line-height:2.7rem}
.lineH28{line-height:2.8rem}
.lineH29{line-height:2.9rem}
.lineH30{line-height:3rem}

/*color*/
.c_0{color:#000}
.c_3{color:#333}
.c_f{color:#fff}
.c_6{color:#666}
.c_76{color:#767676}
.c_rd{color:#D73838}
.c_c5{color:#c5c5c5 !important;}

/*background color*/
.bgc_6{background-color:#666}
.bgc_9{background-color:#999}

/* border */
.b0{border:0 !important}
.b1_theme{border:0.1rem solid var(--theme)}

/*padding*/
.p0{padding:0 !important}

.p5{padding:0.5rem !important}
.p10{padding:1rem !important}
.p15{padding:1.5rem !important}
.p20{padding:2rem !important}
.pl0{padding-left:0 !important}
.pr0{padding-right:0 !important}
.pl10{padding-left:1rem !important}
.pl15{padding-left:1.5rem !important}
.pl20{padding-left:2rem !important}
.pl25{padding-left:2.5rem !important}
.pl30{padding-left:3rem !important}
.pt15{padding-top:1.5rem !important}
.pb15{padding-bottom:1.5rem !important}
.pb20{padding-bottom:2rem}
.pb300{padding-bottom:30rem}

/*margin*/
.m_auto{margin:0;margin-left:auto;margin-right:auto}
.m0{margin:0 !important}
.m5{margin:0.5rem}
.m10{margin:1rem}
.m15{margin:1.5rem}
.m20{margin:2rem}

.mt0{margin-top:0 !important}
.pt1{margin-top:0.1rem}
.mt2{margin-top:0.2rem}
.mt3{margin-top:0.3rem}
.mt4{margin-top:0.4rem}
.mt5{margin-top:0.5rem}
.mt10{margin-top:1rem}
.mt12{margin-top:1.2rem}
.mt15{margin-top:1.5rem}
.mt20{margin-top:2rem}
.mt24{margin-top:2.4rem}
.mt25{margin-top:2.5rem}
.mt30{margin-top:3rem}
.mt40{margin-top:4rem}
.mt50{margin-top:5rem}

.mb0{margin-bottom:0 !important}
.mb1{margin-bottom:0.1rem}
.mb2{margin-bottom:0.2rem}
.mb3{margin-bottom:0.3rem}
.mb4{margin-bottom:0.4rem}
.mb5{margin-bottom:0.5rem}
.mb6{margin-bottom:0.6rem}
.mb8{margin-bottom:0.8rem}
.mb10{margin-bottom:1rem}
.mb15{margin-bottom:1.5rem}
.mb20{margin-bottom:2rem}
.mb25{margin-bottom:2.5rem}
.mb30{margin-bottom:3rem}
.mb40{margin-bottom:4rem}
.mb55{margin-bottom:5.5rem}

.mr0{margin-right:0 !important}
.mr1{margin-right:0.1rem}
.mr2{margin-right:0.2rem}
.mr3{margin-right:0.3rem}
.mr4{margin-right:0.4rem}
.mr5{margin-right:0.5rem}
.mr10{margin-right:1rem}
.mr15{margin-right:1.5rem}
.mr20{margin-right:2rem}
.mr25{margin-right:2.5rem}
.mr30{margin-right:3rem}

.ml0{margin-left:0 !important}
.ml1{margin-left:0.1rem}
.ml2{margin-left:0.2rem}
.ml3{margin-left:0.3rem}
.ml4{margin-left:0.4rem}
.ml5{margin-left:0.5rem}
.ml10{margin-left:1rem}
.ml15{margin-left:1.5rem}
.ml20{margin-left:2rem}
.ml25{margin-left:2.5rem}
.ml30{margin-left:3rem}
  