@charset "euc-kr";
/****************************************/
/*  Version : 1.0
/*  Author : jsm
/****************************************/

/* smsAuth */
.dl_info_list{display:flex;flex-direction: column;width:100%;justify-content:space-between}
.resi_box{width:100%;display:flex;align-items:center}
.resi_box>.inp_tx{flex:0 calc(50% - 1.2rem)}
.inp_cbar{display:inline-flex;justify-content: center;align-items: center;width:2.4rem}
.inp_cbar::before{content:'';display:inline-flex;width:0.8rem;height:0.1rem;background-color:#999}

.tel_box{width:100%;display:flex;align-items:center;justify-content:space-between}
.tel_box>.sel{flex:0 10.2rem;min-width: 10.2rem;color:#333}
.tel_box>.inp_tx{flex:0 calc(100% - 19.8rem);margin:0 0.8rem}
.tel_box>.btnGray40{flex:0 8rem;min-width:8rem}

/*terms_list*/
.dl_terms_list{border:0.1rem solid #e0e0e0;border-radius:1.2rem;padding:2rem;display:flex;flex-direction:column;}
.dl_terms_list>dt{display:flex;align-items: center;white-space: nowrap;position:relative;border-bottom:0.1rem solid #f0f0f0}
.dl_terms_list>dt>.ico_arrow_r{position:absolute;top:0;right:0;height:2rem;width:2rem}
.dl_terms_list.active{border-color:var(--theme)}

.btn_sel{width:100%;display:flex;justify-content: space-between;align-items: center; height:5rem;padding:1.4rem 0;border-bottom:0.1rem solid #E0E0E0}
.btn_sel>span{flex:0 50%;white-space:nowrap;text-overflow: ellipsis;overflow: hidden; font-size:1.6rem;color:#000;height:2.2rem;line-height:2.2rem;display:inline-block}
.btn_sel_l{text-align:left}
.btn_sel_r{position:relative;padding-right:1.4rem;text-align:right}
.btn_sel_r:after{content:'';display:block;width:0.8rem;height:0.6rem;position:absolute;top:0.7rem;right:0;background:url(/static/images/interlock/cmnsvc/ico_arrow_s.png) 0 0 no-repeat;background-size:0.8rem auto}
    
.dl_sel_list{display:flex;justify-content: space-between;align-items: center;}
.dl_sel_list>dt{color:#666;font-size:1.3rem;display:inline-flex;align-items: center;line-height:3rem}
.dl_sel_list>dd{display:flex;width:17.2rem}
.dl_sel_list>dd>*{margin-left:0.6rem}
.btn_rd{position:relative}
.btn_rd>input{position:absolute;top:0;left:0;z-index:0;opacity:0}
.btn_rd>label{width:8rem}
.btn_rd>input:checked+label.btnWh30{font-family:'notoSB';border-color:#000;color:#000}

/*svy_list*/
.svy_list{margin-bottom:1.2rem;border:0.1rem solid #E0E0E0;border-radius:1.3rem;padding:2rem;display:flex;flex-direction: column;align-items: flex-start;}
.svy_list>dt,.svy_list>dd{width:100%}
.svy_q{position:relative;padding-left:2.4rem;font-size:1.6rem;color:#000}
.svy_nm{position:absolute;top:0;left:0;line-height:inherit;font-size:inherit;color:inherit}
.svy_a{display:flex;flex-wrap: wrap}
.svy_a>*{flex:1 100%;margin-top:1.2rem;min-width:100%}
.svy_a.cols2>*{flex:1 50%;min-width:50%}

.currScoreViewItem{z-index:200;position:fixed;bottom:6.6rem;right:1rem;width:5.4rem;height:5.4rem;display:flex;justify-content:center;align-items: center;border-radius:5.4rem;}
.ty_1{background-color:#f1fbe6;color:#347c06}
.ty_2{background-color:#fdfce0;color:#9e5f00}
.ty_3{background-color:#fdfce0;color:#9e5f00}
.ty_4{background-color:#fff1e5;color:#c04500}
.ty_5{background-color:#fff0ef;color:#d72525}
.currScoreViewItem>span{display:flex;flex-direction: column;text-align: center;line-height:1.4rem;margin-top:-0.4rem}
.currScoreView1{font-size:1.4rem;font-family:'notoSM';line-height:2rem}
.currScoreView2{font-size:0.9rem;font-family:'notoSB';line-height:1.4rem;margin-top:-0.2rem}

/* cfgDoneScr */
.confirm_cbox{display:flex;flex-direction: column;align-items: center;padding-bottom:4rem}
.confirm_cbox_tit{font-size: 1.7rem;line-height: 2.5rem;text-align: center;}
.confirm_cbox_info{padding:0 0.4rem;width: 100%;border-top:0.1rem solid #E0E0E0;padding-top:3rem;}
.confirm_cbox_info>dl {margin-bottom:1rem;display: flex;align-items: center;}
.confirm_cbox_info>dl>dt{flex:0 6.6rem;min-width:6.6rem;font-size:1.2rem;line-height: 2rem;color:#767676}
.confirm_cbox_info>dl>dd{font-size:1.4rem;line-height: 2rem}
.ico_ok{display:inline-flex;width:4.8rem;height: 4.8rem;background:url(/static/images/interlock/cmnsvc/ico_ok.png) 0 0 no-repeat;background-size: 4.8rem auto;}
.ico_warnning{display:inline-flex;width:4.8rem;height: 4.8rem;background:url(/static/images/interlock/cmnsvc/ico_warnning.png) 0 0 no-repeat;background-size: 4.8rem auto;}


/*result_cbox*/
.result_cbox{border:0.1rem solid #E0E0E0;border-radius: 1.6rem;display:flex;flex-direction: column; padding: 2rem 1.6rem}
.rcbox1{padding-bottom:2rem;border-bottom:0.1rem solid #F0F0F0}
.rcbox1.last{padding-bottom:0;border:0}
.rcicons{display:flex;align-items: center;flex-wrap: wrap;}
.rcicons>*{margin-right:0.4rem;margin-bottom:0.5rem}
.rcicons>*:last-child{margin-right:0}
.rcb1txt{font-size:1.6rem;line-height:2.3rem;color:#000;font-size:1.6rem}
.rcb1txt_out{display:flex;align-items: center;}
.rcb1txt_out>*:last-child{margin-left:0.6rem}
.rcb1txt_out>*:first-child:last-child{margin-left:0}
.ico_q{display:inline-flex;width:1.8rem;height:1.8rem;background:url(/static/images/interlock/cmnsvc/ico_q.png) 50% 50% no-repeat;background-size:1.8rem auto}
.rcbox2{padding-top:2rem;}
.rcb2txt{margin-top:0.9rem;display:flex;align-items: center;justify-content: space-between;}
.rcb2txt>dt{font-size:1.2rem;line-height:2rem;color:#767676}
.rcb2txt>dd{font-size:1.4rem;line-height:2rem}
